<div class="container">
  <div class="grid">
    <div class="grid-item">
      <img src="../../../assets/staff.png" />
      <div class="card-text">
        <h3>Manage Staff</h3>
        <p>
          Manage your staff here. You can edit and can add or remove a staff.
          All your changes will be reflected to them as well.
        </p>
      </div>
      <div class="btn-container">
        <a routerLink="/dashboard/staffs/add">Add</a>
      </div>
    </div>
    <div class="grid-item">
      <img src="../../../assets/students.png" />
      <div class="card-text">
        <h3>Manage Students</h3>
        <p>
          Manage your staff here. You can edit and can add or remove a staff.
          All your changes will be reflected to them as well.
        </p>
        <div class="btn-container">
          <a routerLink="/dashboard/students/add">Add</a>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <img src="../../../assets/books.jpg" />
      <div class="card-text">
        <h3>Manage Courses</h3>
        <p>
          Manage your staff here. You can edit and can add or remove a staff.
          All your changes will be reflected to them as well.
        </p>
        <div class="btn-container">
          <a routerLink="/dashboard/courses/add">Add</a>
        </div>
      </div>
    </div>
  </div>
</div>
