.container {
  min-height: 100vh;
  background-image: url("../../../assets//forgot-password.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  h1 {
    color: var(--color-text);
  }
}

.img-container {
  display: flex;
  justify-content: center;

  img {
    width: 50px;
    height: 50px;
  }
}

.field {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    display: inline-block;
    width: 80%;
    margin-bottom: 0.25rem;
    color: var(--color-text);
  }

  input {
    width: 80%;
    height: 35px;
    border-radius: 8px;
    border: none;
    border: 1px solid #ccc;
  }
}

.form {
  background: #fff;
  width: 400px;
  min-height: 300px;
  border-radius: 8px;
  padding: 0.5rem;
}

.error {
  font-size: 0.85rem;
  color: red;
  text-align: center;
  margin: 1.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;

  button {
    width: 70%;
    height: 35px;
    border-radius: 20px;
    transition: all 0.25s ease-in;
    border: none;
    background-color: var(--color-secondary);
    color: #fff;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.direction-txt {
  text-align: center;
  color: var(--color-text);
}

@media (max-width: 600px) {
  .form {
    width: 95%;
  }
}
