<div class="container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="form">
    <header>
      <h1>Forgot Password</h1>
    </header>
    <div *ngIf="isLoading" class="img-container">
      <img [src]="'../../../assets/loader.svg'" />
    </div>

    <div class="direction-txt" *ngIf="directionTxt">{{ directionTxt }}</div>
    <div class="error" *ngIf="serverError">
      {{ serverError }}
    </div>
    <div class="field">
      <label>Your Email</label>
      <input formControlName="email" type="email" />
    </div>
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <div class="error" *ngIf="email?.errors?.['required']">
        An email address is required.
      </div>
      <div class="error" *ngIf="email?.errors?.['email']">
        Please provide a proper email address.
      </div>
    </div>
    <div class="btn-container">
      <button type="submit">Send Email</button>
    </div>
  </form>
</div>
