.container {
  min-height: 100vh;
  margin-top: 1rem;
  display: flex;
  background: #f4f4f4;
}

.outlet {
  flex: 2;
  min-height: 100vh;
  background: #f4f4f4;
  width: 800px;
}

.outlet-container {
  min-height: 100vh;
  margin: 1rem;
  background: #fff;
  padding: 0.5rem;
  margin-top: 5rem;
  width: 100%;
  box-shadow: var(--box-shadow);
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

.outlet {
  overflow-x: auto;
}

@media (max-width: 800px) {
  .outlet {
    width: 100%;
  }
}
