.container {
  background-image: url("../../../assets/forms.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 9rem;
}
