.container {
  min-height: 100vh;

  h1 {
    color: var(--color-text);
    font-size: 1.1rem;
    text-transform: uppercase;
  }
}

.content {
  width: 600px;
  margin: 0 auto;
}

.btn-container {
  display: flex;
  margin: 2rem 0;
  justify-content: center;
  button {
    color: #fff;
    background-color: var(--color-secondary);
    cursor: pointer;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 130px;
    transition: all 0.25s ease-in;
    &:hover {
      opacity: 0.8;
    }
  }
}

.actions-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  button {
    margin: 1rem;
    border: none;
    cursor: pointer;
    background-color: var(--color-secondary);
    border-radius: 20px;
    height: 35px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    &:hover {
      opacity: 0.8;
    }
  }
}

table {
  width: 100%;
}
.table-container {
  overflow-x: auto;
}

@media (max-width: 600px) {
  .content {
    width: 95%;
  }
}
