:host {
  display: flex;
}

.container {
  min-height: 100vh;
  background-color: var(--color-primary);
  width: 250px;
}

.hide {
  position: absolute;
  /*transform: translateX(-400px);*/
  animation: slideback 0.5s forwards;
}

@keyframes slideback {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400px);
  }
}

@keyframes slideforwards {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}

.show {
  position: relative;
  animation: slideforwards 0.5s forwards;
}

.handle {
  background: var(--color-primary);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  fa-icon {
    color: var(--color-text);
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}

.links {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

header {
  text-align: center;
  padding: 0.5rem;
  h1 {
    color: #fff;
  }
}

.hamburger {
  margin-left: 2rem;
}

.menu-icon {
  cursor: pointer;
  fa-icon {
    color: var(--color-text);
    font-size: 1.5rem;
  }
}

.link {
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in;
  fa-icon {
    font-size: 1.1rem;
    color: var(--color-text);
    padding-left: 1.5rem;
  }

  a {
    display: inline-block;
    padding: 0.75rem 1.5rem 0.75rem 0.45rem;
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.1rem;
  }
  &:hover {
    background-color: var(--color-hover);
  }
}

.link {
  &:hover > fa-icon {
    color: #fff;
  }
  &:hover > a {
    color: #fff;
  }
}

.button-link {
  &:hover > button {
    color: #fff;
  }
  &:hover > fa-icon {
    color: #fff;
  }
}

.button-link {
  margin-top: 3rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  fa-icon {
    font-size: 1.1rem;
    color: var(--color-text);
  }

  button {
    background: transparent;
    color: var(--color-text);
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.25s ease-in;
  }
  &:hover {
    background-color: var(--color-hover);
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
