<div class="container">
  <header>
    <h1>CMS NSTAT</h1>
  </header>
  <div class="links">
    <div class="link">
      <fa-icon [icon]="faUser"></fa-icon>
      <a routerLink="./students">Manage Students</a>
    </div>
    <div class="link">
      <fa-icon [icon]="faChalkboardUser"></fa-icon>
      <a routerLink="./attendance">Mark Attendance</a>
    </div>
    <div class="link">
      <fa-icon [icon]="faBuildingColumns"></fa-icon>
      <a routerLink="./departments">Manage Depts</a>
    </div>
    <div class="link">
      <fa-icon [icon]="faChalkboard"></fa-icon>
      <a routerLink="./classes">Manage Classes</a>
    </div>
    <div class="link">
      <fa-icon [icon]="faAward"></fa-icon>
      <a routerLink="./courses">Manage Courses</a>
    </div>
    <div class="button-link">
      <fa-icon [icon]="faRightFromBracket"></fa-icon>
      <button (click)="onLogout()">Logout</button>
    </div>
  </div>
</div>
