<div (click)="setIsLinkShowing(true)" *ngIf="!isLinksShowing" class="handle">
  <fa-icon [icon]="faGripVertical"></fa-icon>
</div>

<div [ngClass]="isLinksShowing ? 'show' : 'hide'" class="container">
  <header>
    <h1>CMS NSTAT</h1>
  </header>
  <div class="hamburger">
    <div
      (click)="setIsLinkShowing(false)"
      *ngIf="isLinksShowing"
      class="menu-icon"
    >
      <fa-icon [icon]="faXmark"></fa-icon>
    </div>
    <div
      (click)="setIsLinkShowing(true)"
      *ngIf="!isLinksShowing"
      class="menu-icon"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
  </div>
  <div *ngIf="isLinksShowing" class="links">
    <div class="link">
      <fa-icon [icon]="faHouse"></fa-icon>
      <a routerLink="./overview">Overview</a>
    </div>
    <div class="link">
      <fa-icon [icon]="faUsers"></fa-icon>
      <a routerLink="./staffs">Manage Staff</a>
    </div>
    <div class="link">
      <fa-icon [icon]="faUser"></fa-icon>
      <a routerLink="./students">Manage Students</a>
    </div>
    <div class="link">
      <fa-icon [icon]="faBookOpenReader"></fa-icon>
      <a routerLink="./student-reports">Student Report</a>
    </div>
    <div class="link">
      <fa-icon [icon]="faChalkboardUser"></fa-icon>
      <a routerLink="./attendance">Mark Attendance</a>
    </div>
    <div class="link">
      <fa-icon [icon]="faBuildingColumns"></fa-icon>
      <a routerLink="./departments">Manage Depts</a>
    </div>
    <div class="link">
      <fa-icon [icon]="faChalkboard"></fa-icon>
      <a routerLink="./classes">Manage Classes</a>
    </div>
    <div class="link">
      <fa-icon [icon]="faAward"></fa-icon>
      <a routerLink="./courses">Manage Courses</a>
    </div>
    <div class="button-link">
      <fa-icon [icon]="faRightFromBracket"></fa-icon>
      <button (click)="onLogout()">Logout</button>
    </div>
  </div>
</div>
