<div class="container">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form">
    <header>
      <h1>Reset Password</h1>
    </header>
    <div *ngIf="errors.length" class="errors">
      <p *ngFor="let error of errors">{{ error }}</p>
    </div>
    <div class="field">
      <label for="password">New Password</label>
      <input id="password" formControlName="password" [type]="passwordType" />
      <div *ngIf="password?.dirty || password?.touched">
        <div class="error" *ngIf="password?.errors?.['required']">
          A new password is required.
        </div>
        <div class="error" *ngIf="password?.errors?.['pattern']">
          Password must include 1 uppercase, 1 digit, and 1 special character.
        </div>
      </div>
      <div class="icon-container">
        <div *ngIf="passwordType === 'password'; else showPassword">
          <fa-icon
            (click)="passwordVisibility('text')"
            [icon]="faEye"
          ></fa-icon>
        </div>
        <ng-template #showPassword>
          <fa-icon
            (click)="passwordVisibility('password')"
            [icon]="faEyeSlash"
          ></fa-icon>
        </ng-template>
      </div>
    </div>
    <div class="field">
      <label for="confirm_password">Confirm Password</label>
      <input
        id="confirm_password"
        formControlName="confirm_password"
        [type]="passwordType"
      />
      <div *ngIf="confirm_password?.dirty || confirm_password?.touched">
        <div class="error" *ngIf="confirm_password?.errors?.['required']">
          Confirm password is required.
        </div>
        <div
          class="error"
          *ngIf="resetPasswordForm?.errors?.['passwordDontMatch']"
        >
          Passwords do not match.
        </div>
      </div>
    </div>
    <div class="btn-container">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
