.container {
  width: 300px;
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  position: absolute;
  border-radius: 8px;
  left: 0px;
  top: 55px;
}

p {
  color: var(--color-text);
  cursor: pointer;
  font-size: 0.95rem;
  padding: 0.5rem;
  transition: all 0.2s ease-in;
  &:hover {
    background-color: var(--color-secondary);
    color: #fff;
  }
}

@media (max-width: 600px) {
  .container {
    top: 55px;
    width: 275px;
  }
}
