.container {
  background-image: url("../../../assets/forms.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-container {
  color: red;
  font-size: 0.85rem;
  text-align: center;

  padding: 0.5rem;
  background: #fff;
  border-radius: 8px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}
